.cart-checkout-page {
	* {
		box-sizing: border-box;
	}

	a {
		text-transform: none;
	}
}

.cart-checkout-page {
	margin: 95px auto;
	padding: 1px 15px 0;
	max-width: 1140px;
	@include clearfix;
	@include media-breakpoint-down(small-tablet) {
		margin: 50px auto;
		padding: 1px 5% 0;
	}
}

.cart-check-header.header {
	border-bottom: 1px solid $white-grey;
	@include media-breakpoint-down(small-tablet) {
		height: 60px;
	}
}

.cart-check-header__wrap {
	padding: 35px 0;
	text-align: center;
	@include media-breakpoint-down(small-tablet) {
		padding: 15px 0 !important;
	}
}

.cart-check-header__logo.header__logo {
	line-height: inherit;
}

.cart-check__header {
	padding-bottom: 25px;
	border-bottom: 1px solid $white-grey;
	font-size: $font-size-l;
	font-weight: bold;
	text-align: left;
}

.buyer-data {
	float: left;
	width: 57%;
	@include media-breakpoint-down(small-tablet) {
		float: none;
		width: 100%;
	}
}

.buyer-data__button {
	@include media-breakpoint-down(small-tablet) {
		display: block;
		margin: 50px 25px;
	}
}