.progress-block {
	position: relative;
	margin: 150px auto 0;
	padding: 2px 0 0 0;
	max-width: 1110px;
	height: 70px;
	@include clearfix;
	@include media-breakpoint-down(small-tablet) {
		margin-top: 100px;
	}
}

.progress-block__big-line {
	margin-top: 18px;
	@include clearfix;
}

.progress-block__line {
	float: left;
	width: 33.33%;
	border: 1px solid $grey_regular;
}

.progress-block__line--active {
	border-color: $pinkish;
}

.progress-block__label-box {
	position: absolute;
	top: 0;
	width: 150px;
	text-align: center;
}

.progress-block__label-box--shipping{
	left: calc(33.33% - 75px);
}

.progress-block__label-box--payment{
	left: calc(66.66% - 75px);
}

.progress-block__label {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid $grey_regular;
	background-color: $white_absolute;
}

.progress-block__label--active {
	border-color: $pinkish;
}

.progress-block__label-text {
	margin: 10px 0 0 0;
	color: $grey_regular;
	font-size: $font-size;
}

.progress-block__label-text--active {
	color: $pinkish;
}

.progress-block__icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-family: FontAwesome;
	font-size: 20px;
	line-height: 36px;
}

/*.progress-block__icon--shipping {
	@include sprite($i_pink_cart);
}*/

/*.progress-block__icon--shipping.progress-block__icon--done {
	@include sprite($i_cart-check);
}*/

.progress-block__icon--shipping:before {
	content: "\f0d1";
	color: $pinkish;
}

.progress-block__icon--shipping.progress-block__icon--done:before {
	content: "\f00c";
}

.progress-block__icon--payment:before {
	content: "\f09d";
	color: $grey_regular;
}

.progress-block__icon--payment.progress-block__icon--active:before {
	color: $pinkish;
}

/*.progress-block__icon--payment {
	@include sprite($i_card-grey);
}*/

/*.progress-block__icon--payment.progress-block__icon--active {
	@include sprite($i_card-pink);
}*/