.header {
  text-transform: uppercase;
  color: $grey_absolute;
  font-size: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  background: $white_absolute;
  height: $header-height;

  &__logo {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: $header-height;

    @include media-breakpoint-down(small-tablet) {
      width: 40%;
    }

    img {
      margin: 0 auto;
    }
  }
  &__profile {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: $font-size;

    .settings {
      margin-bottom: 10px;

    }
    .custom-select {
      margin-left: 30px;

      @include media-breakpoint-down(small-tablet) {
        display: block;
      }

      .menu & {
        line-height: 3;

        select {
          font-size: 20px;
        }
      }
    }

    @include media-breakpoint-down(small-tablet) {
      width: 30%;
    }

    .menu & {
      text-align: left;
      width: 100%;
      margin-top: 15px;
    }

  }
  &__login,
  &__cart,
  &__search {
    margin-left: 20px;
    display: inline-block;

    &:before {
      font-family: 'FontAwesome';
      font-size: 16px;
      margin-right: 10px;
      vertical-align: middle;
    }
    .menu & {
      margin-left: 40px;
      line-height: 2;
      font-size: 20px;
    }
  }
  &__search {
    position: relative;
    cursor: pointer;
    z-index: 3;

    &:before {
      content: '\f002';
    }
    @include media-breakpoint-down(small-tablet) {
      position: static;
    }
  }
  &__login {
    &:before {
      content: '\f007';
      &:after {
        @include sprite-inline;
        @include sprite($i_arrow);
        margin-left: 7px;
      }
    }
  }
  &__cart {
    &:before {
      content: '\f290';
    }
  }

}
