.popup-tabs__tab-labels {
	width: 100%;
	@include clearfix;
}

.popup-tabs__tab-label {
	float: left;
	width: 33.33%;
	height: 60px;
	border-right: 1px solid $white_absolute;
	background-color: $white-grey;
	text-align: center;
}

.popup-tabs__tab-label--active {
	background-color: $white_absolute;
}

.popup-tabs__tab-label-link {
	display: inline-block;
	width: 100%;
	line-height: 60px;
}

.popup-tabs__socials-block {
	margin-top: 45px;
	text-align: center;
	@include clearfix;
}

.popup-tabs__social {
	float: left;
	width: 33.33%;
	height: 24px;
	font-size: $font-size-xs;
	line-height: 24px;
	text-align: justify;
	text-transform: none;
}

.popup-tabs__social:before {
	display: inline-block;
	margin-right: 10px;
	font-family: FontAwesome;
	font-size: 24px;
	line-height: 24px;
	vertical-align: middle;
}

.popup-tabs__social--google {
	text-align: left;
	color: #ee5567;
}

.popup-tabs__social--google:before {
	content: "\f0d5";
}

.popup-tabs__social--facebook {
	text-align: center;
	color: #5d9cec;
}

.popup-tabs__social--facebook:before {
	content: "\f09a";
}

.popup-tabs__social--twitter {
	text-align: right;
	color: #4fc0e8;
}

.popup-tabs__social--twitter:before {
	content: "\f099";
}

.popup-tabs__line {
	position: relative;
	margin-top: 25px;
	color: $grey_regular;
	text-align: center;
}

.popup-tabs__line:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 160px;
	border-bottom: 1px solid $white-grey;
}

.popup-tabs__line:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 160px;
	border-bottom: 1px solid $white-grey;
}

.popup-tabs__link {
	float: right;
	margin-top: 20px;
	text-transform: none;
}

.popup-tabs__text {
	margin-top: 20px;
	font-size: $font-size-xs;
	line-height: 2;
	text-align: center;
}