.popup {
	box-sizing: border-box;
	position: relative;
	padding: 31px 31px 0 0;
	width: 543px;
	border: 1px solid black;
}

.popup {

	* {
		box-sizing: border-box;
	}
}

.popup__close {
	top: 0;
	right: 0;
}

.popup__wrapper {
	padding: 50px 81px;
}

.popup__header {
	font-size: 20px;
}

.popup__form {
	@include clearfix;
}

.popup__fieldset {
	color: $black_absolute;
	@include clearfix;
}

.popup__input {
	padding-left: 9px;
	width: 100%;
	height: 59px;
	line-height: 59px;
}

.popup__input--small {
	width: 65px;
	text-align: center;
}

.popup__input--x-small {
	width: 50px;
	text-align: center;
}

.popup__button {
	margin-top: 30px;
	display: block;
	width: 100%;
	height: 60px;
	border: none;
	background-color: $black_absolute;
	color: $white_absolute;
	font-family: Avanti, sans-serif;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.popup__label {
	float: left;
	margin-top: 20px;
	height: 16px;
	color: $black_absolute;
}

.popup__label:before {
	float: left;
	margin-right: 10px;
}

.popup__input-label {
	padding-left: 9px;
	color: $black_absolute;
	line-height: 60px;
}

.popup__input-wrapper {
	float: right;
}

.popup__select-wrapper {
	position: relative;
	width: 100%;
}

.popup__select {
	padding-left: 10px;
	width: 100%;
	height: 58px;
	border: none;
	border-bottom: 1px solid $black_absolute;
	border-radius: 0;
	background-color: $white_absolute;
	color: $black_absolute;
	font-family: Avanti, sans-serif;
	font-size: $font-size;
	line-height: 57px;
	outline: none;
	appearance: none;
}

.popup__select-wrapper:after {
	content: "";
	position: absolute;
	top: 20px;
	right: 10px;
	@include sprite($i_arrows);
}

.popup-tabs__tab-labels {
	width: 100%;
	@include clearfix;
}

.popup-tabs__tab-label {
	float: left;
	width: 33.33%;
	height: 60px;
	border-right: 1px solid $white_absolute;
	background-color: $white-grey;
	text-align: center;
}

.popup-tabs__tab-label--active {
	background-color: $white_absolute;
}

.popup-tabs__tab-label-link {
	display: inline-block;
	width: 100%;
	line-height: 60px;
}

.popup-tabs__socials-block {
	margin-top: 50px;
	text-align: center;
	@include clearfix;
}

.popup-tabs__social {
	float: left;
	width: 33.33%;
	height: 21px;
	font-size: $font-size-xs;
	line-height: 21px;
	text-transform: none;
}

.popup-tabs__social--google {
	padding-left: 30px;
	background-image: url('../../images/google-plus.png');
	background-repeat: no-repeat;
	color: #ee5567;
}

.popup-tabs__social--facebook {
	padding-left: 15px;
	background-image: url('../../images/facebook.png');
	background-repeat: no-repeat;
	color: #5d9cec;
}

.popup-tabs__social--tweeter {
	padding-left: 30px;
	background-image: url('../../images/tweeter.png');
	background-repeat: no-repeat;
	color: #4fc0e8;
}

.popup-tabs__line {
	position: relative;
	margin-top: 28px;
	color: $grey_regular;
	text-align: center;
}

.popup-tabs__line:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 160px;
	border-bottom: 1px solid $white-grey;
}

.popup-tabs__line:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 160px;
	border-bottom: 1px solid $white-grey;
}

.popup-tabs__link {
	float: right;
	margin-top: 20px;
	text-transform: none;
}

.popup-tabs__text {
	margin-top: 30px;
	font-size: $font-size-xs;
	line-height: 2;
	text-align: center;
}

.reg-wizard__form {
	margin-top: 50px;
}