.reg-wizard__fieldset--short {
	width: calc(100% - 65px);
}

.reg-wizard__fieldset--card {
	position: relative;
	padding-right: 65px;
}

.reg-wizard__card {
	letter-spacing: 9px;
}

.reg-wizard__card-label {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.reg-wizard__link-wrapper {
	margin-top: 60px;
	@include clearfix;
}

.reg-wizard__link {
	float: right;
}

.reg-wizard__link:hover:after {
	margin-left: 10px;
}