.categories {
  font-size: 0;
  text-align: center;

  &__item {
    background: $white_absolute;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 100px 60px 10px 60px;
    box-sizing: border-box;
    font-size: 0;
    max-height: 750px;

    img {
      vertical-align: middle;
      max-width: 60%;

      @include media-breakpoint-down(tablet) {
        max-width: 40%;
        vertical-align: top;

      }
      @include media-breakpoint-down(small-tablet) {
        max-width: 45%;
      }
    }

    &--special {
      margin-top: -130px;
      padding: 10px 60px;

      .categories__title {
        vertical-align: text-top;
        padding-top: 130px;
      }

      @include media-breakpoint-down(small-tablet) {
        margin-top: 0;
      }
    }
    &--full {
      width: 70%;
      padding: 10px;

    }

    @include media-breakpoint-down(small-tablet) {
      width: 100%;
      padding: 20px;
    }
  }

  &__name {
    font-size: $font-size;
    color: $special_text_color;
    font-family: $font-italic;
  }

  &__text {
    font-size: 48px;
    color: $main_text_color;
    font-family: $font-special;
    margin-bottom: 40px;
    @include media-breakpoint-down(small-tablet) {
      font-size: 38px;

    }
  }
  &__title {
    vertical-align: middle;
    width: 40%;
    display: inline-block;
    text-align: left;

    @include media-breakpoint-down(tablet) {
      width: 60%;
    }
    @include media-breakpoint-down(small-tablet) {
      width: 55%;
      vertical-align: top;
    }

    a:first-child {
      display: block;
      border-left: 2px solid $grey-regular;
      padding-left: 10px;
      &:hover {
        text-decoration: none;

        .categories__text {
          text-decoration: underline;
        }
      }
    }


  }
}