@import '../mixins/mixins';
@import '../theme/theme';
@import '../sprites';
@import 'headers/headers';
@import 'headers/menu';
@import 'headers/submenu';
@import 'headers/search';
@import 'footer/footer';
@import 'footer/additional-menu';
@import 'footer/socials';

.g-main-wrapper {
    position: relative;
    width: 100%;
    max-width: $site-width;
    margin: 0 auto;

    @include media-breakpoint-down(desktop) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.g-margin-bottom {
    margin-bottom: 100px;

    @include media-breakpoint-down(tablet) {
        margin-bottom: 20px;
    }
}
.g-grey-wrap {
    background: $background_color;
    padding: 39px 0;
    width: 100%;
}
a {
    text-transform: uppercase;
    font-size: $font-size;
    color: $grey_absolute;
    text-decoration: none;
    font-family: $font-regular;

    &:hover {
        text-decoration: underline;
        opacity: 0.8;
    }


    &:focus {
      outline: none;
    }

    &.special-link {
        @extend %transitionSlow;
        font-family: $font-bold;

        &:after {
            content: '\f178';
            font-family: 'FontAwesome';
            margin-left: 10px;
            @extend %transitionSlow;
            font-weight: 100;

        }
        &:hover {
            text-decoration: none;
            @extend %transitionSlow;

            &:after {
                //transform: translate(10px,0);
                margin-left: 20px;
                @extend %transitionSlow;
            }
        }
    }
    @include media-breakpoint-down(small-tablet) {
        font-size: 16px;
    }
}
h2 {
    font-size: 32px;
    font-family: $font-bold;

    text-transform: uppercase;
    color: $grey_absolute;
    text-align: center;
}
img {
    max-width: 100%;
}
input, textarea {
    border-width: 0 0 1px 0;
    border-color: $grey_absolute;
    outline: none;
    background: transparent;
    font-size: 14px;
    box-sizing: border-box;
    font-family: $font-regular;


    @include placeholder{
        color: $grey_absolute;
    }

    @include media-breakpoint-down(small-tablet) {
        font-size: 16px;
    }
}

button::-moz-focus-inner {
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}