
.image-box {
  @include clearfix;
  height: 700px;
  overflow: hidden;


  @include media-breakpoint-down(tablet) {
    margin-bottom: 40px;
  }
  @include media-breakpoint-only(tablet) {
    height: 500px;
  }
  @include media-breakpoint-down(large-mobile) {
    height: 400px;

  }
  @include media-breakpoint-down(mobile) {
    height: 250px;
  }
  .thumbs {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    margin-right: 5%;
    li {
      margin: 3px 2px;
    }

    .thumb-img {
      display: block;
      max-height: 92px;
      margin-bottom: 20px;
      box-sizing: border-box;

      &:hover {
        border: 1px solid $grey_absolute;

      }
    }
  }

  .large-image {
    display: inline-block;
    vertical-align: top;
    height: 700px;
    width: 74%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;


    &:hover {
      cursor: url('../../images/lupa.png');
    }

    @include media-breakpoint-down(large-mobile) {
      height: 400px;
    }
    @include media-breakpoint-down(mobile) {
      height: 300px;
    }
  }
}    