
.image-box {
  @include clearfix;
  height: 760px;
  font-size: 0;


  @include media-breakpoint-down(tablet) {
    margin-bottom: 40px;
  }
  @include media-breakpoint-only(tablet) {
    height: 500px;
  }
  @include media-breakpoint-down(large-mobile) {
    height: 400px;

  }
  @include media-breakpoint-down(mobile) {
    height: 257px;
  }
  .thumbs {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    padding-right: 15px;
    box-sizing: border-box;
    overflow: scroll;
    height: 760px;

    li {
      margin: 3px 2px;
    }

    .thumb-img {
      display: block;
      max-height: 92px;
      margin-bottom: 30px;
      padding: 4px;
      box-sizing: border-box;

      &:hover {
        border: 1px solid $grey_absolute;

      }
    }

    @include media-breakpoint-down(mobile) {
      width: 26%;
    }
    @include media-breakpoint-only(tablet) {
      height: 500px;
    }
    @include media-breakpoint-down(large-mobile) {
      height: 400px;

    }
    @include media-breakpoint-down(mobile) {
      height: 257px;
    }
  }

  .large-image {
    display: inline-block;
    vertical-align: top;
    height: 760px;
    width: 85%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;


      cursor: url(../../images/zoomin.cur), auto;

    @include media-breakpoint-down(large-mobile) {
      height: 400px;
    }
    @include media-breakpoint-down(mobile) {
      height: 300px;
    }

    @include media-breakpoint-down(large-mobile) {
      width: 74%;
    }
  }
}    