.product-view {
  margin: 50px 0;

  @include clearfix;


  &__main {
    margin-top: 60px;

    @include clearfix;
  }
  &__info {
    float: left;
    width: 60%;
    @include media-breakpoint-down(small-tablet) {
      width: 100%;
    }
  }
  &__content {
    float: left;
    width: 40%;

    padding-left: 30px;
    display: inline-block;
    vertical-align: top;

    @include clearfix;


    @include media-breakpoint-down(small-tablet) {
      width: 100%;
      padding-left: 0;
    }
  }
  &__wrap {
    margin-bottom: 20px;

  }
  &__title {
    margin-bottom: 20px;

    font-size: 15px;
    font-family: $font-special;
    line-height: 1;
    color: $grey_absolute;
  }
  &__link {
    display: block;

    margin-bottom: 20px;
  }
  &__image {
    max-width: 100%;
  }
  &__attributes {
    margin: 50px 0;
    @include media-breakpoint-only(tablet) {
      margin: 10px 0;
    }
  }
  &__price {
    padding: 33px 10px;
    background: $background_color;
    border: solid darken($background_color, 10%);
    border-width: 1px 0 1px 0;

    .price {
      float: right;
    }

  }
  .share-wrap {
    float: right;
    margin-top: 12px;
  }
  &__description {
    margin: 50px 0;
    font-size: 12px;
    color: $main_text_color;
    line-height: 2;

    @include media-breakpoint-only(tablet) {
      margin: 10px 0;
    }
  }
  &__quantity {
    input {
      border: 0;
      text-align: right;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    @include media-breakpoint-only(tablet) {
      &.input-number {
        margin-bottom: 10px;
      }
    }
    @include media-breakpoint-down(small-tablet) {
      float: left;
      height: 45px;
    }
    @include media-breakpoint-down(large-mobile) {
      width: 100%;
    }
  }
  .socials {
    margin-bottom: 10px;
    float: left;
    width: 100%;
  }
  @include media-breakpoint-only(tablet) {
    .product__button {
      margin: 0 10px;
    }
  }
  &__add {
    margin-bottom: 50px;
    @include media-breakpoint-down(small-tablet) {
      float: right;
    }
  }
}