.wishlist-page {
	margin: 61px auto 99px;
	max-width: 1140px;
	@include clearfix;
}

.wishlist-page {
	* {
		box-sizing: border-box;
	}

	a {
		text-transform: none;
	}

	.main {
		float: left;
		width: 77%;
		padding: 25px 30px 0 30px;
		@include media-breakpoint-down(small-tablet) {
			padding: 25px 15px 0 15px;
			width: 100%;
		}
	}

	.pagination__list {
		width: 55%;
		@include media-breakpoint-down(desktop) {
			margin-top: 15px;
			width: 100%;
		}
	}
}

.clear-wishlist-button {
	float: right;
	margin-left: 50px;
	padding: 0;
	border: none;
	background: none;
	font-size: $font-size;
	font-weight: bold;
	color: $black_absolute;
	cursor: pointer;
	outline: none;
	@include media-breakpoint-down(small-tablet) {
		float: none;
		margin: 5px;
		margin-right: 50px;
	}
}

.share-button {
	position: relative;
	float: right;
	padding-right: 12px;
	border: none;
	background: none;
	font-size: $font-size;
	font-weight: bold;
	color: $black_absolute;
	cursor: pointer;
	outline: none;
	@include media-breakpoint-down(small-tablet) {
		float: none;
		margin: 5px;
	}
}

.share-button:after {
	content: "";
	position: absolute;
	top: 9px;
	right: 0;
	@include sprite($i_arrow);
}