.additional-menu {
    margin-bottom: 40px;
    &__item {
        position: relative;
        display: inline-block;
        color: $additional_text_color;
        font-size: $font-size;
        text-transform: uppercase;
        padding: 0 15px;
        border-right: 1px solid;

        @include media-breakpoint-down(tablet) {
            display: block;
            margin-bottom: 10px;
            border-right: 0;
        }

        &:last-child {
            border-right: 0;
        }

        &:hover,
        &:active {
            color: $white_absolute;
            text-decoration: none;

            &:after {
                color: $additional_text_color;
            }
        }
    }
}