.footer {
    position: relative;
    background: $footer_color;
    text-align: center;

    &__logo {
        margin: 100px 0 50px 0;
    }
    &__coop {
        color: $footer_text_color;
        padding: 25px 0;
        background: $grey_absolute;
    }
    &__link {
        color: $white_absolute;
    }
}