.socials {
    margin-bottom: 100px;

    &__item {
        padding: 0 12px;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        color: $white_absolute;
        font-family: 'FontAwesome';

        &:after {
            vertical-align: middle;
        }
        &--rs {
            &:after {
                content: "\f09e";
            }
        }
        &--fb {
            &:after {
                content: "\f09a";
            }
        }
        &--pn {
            &:after {
                content: "\f231";
            }
        }
        &--gg {
            &:after {
                content: "\f0d5";
            }
        }
        &--tw {
            &:after {
                content: "\f099";
            }
        }
        &--dr {
            &:after {
                content: "\f17d";
            }
        }

        &:hover {
            color: $pinkish;
            text-decoration: none;
            @extend %transition;
        }

        &--special {
            background: lighten($grey_regular, 20%);
            padding: 5px;
            border-radius: 50%;
            margin-left: 20px;
            width: 20px;
            height: 20px;
            font-size: 18px;

            &:hover {
                background: $grey_absolute;
                color: $white_absolute;

            }
            @include media-breakpoint-down(tablet) {
                margin-left: 3px;
            }
        }

    }

}