.cms-page {
	margin: 61px auto 99px;
	max-width: 1140px;
	@include clearfix;
}

.cms-page {
	* {
		box-sizing: border-box;
	}

	a {
		text-transform: none;
	}

	.main {
		float: left;
		width: 77%;
		padding: 0 30px;
		@include media-breakpoint-down(small-tablet) {
			padding: 0;
			width: 100%;
		}
	}

	.newsletter {
		margin: 100px 0;
		@include media-breakpoint-down(small-tablet) {
			margin: 50px 0;
		}
	}

	.newsletter__item {
		padding-left: 30px;
		@include media-breakpoint-down(small-tablet) {
			padding-left: 20px;
		}
	}

	.newsletter__email {
		width: 74%;
		height: 58px;
		line-height: 58px;
		@include media-breakpoint-down(tablet) {
			width: 90%;
		}
		@include media-breakpoint-down(small-tablet) {
			width: 100%;
		}
	}

	.newsletter__button {
		@include media-breakpoint-down(tablet) {
			margin-top: 20px;
		}
	}
}

.cms-page__text-block {
	margin-top: 100px;
	@include media-breakpoint-down(small-tablet) {
		margin-top: 50px;
	}
}

.cms-page__header {
	color: $black_absolute;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	@include media-breakpoint-down(small-tablet) {
		padding: 0 5%;
	}
}

.cms-page__text {
	margin-top: 40px;
	color: $black_absolute;
	font-size: $font-size;
	line-height: 24px;
	white-space: pre-line;
	@include media-breakpoint-down(small-tablet) {
		padding: 0 5%;
	}
}