@media only screen and (max-width: 666px) {

	.list-handlers {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: $white_absolute;
		z-index: 10;
	}

	.displaying-indicator {
		float: none;
		width: 100%;
		text-align: center;
	}

	.list-handlers__handler {
		float: none;
		margin: 15px 0;
		width: 100%;
	}

	.list-handlers__handler-block {
		margin: 0;
		padding: 0 4%;
		width: 33.33%;
		text-align: center;
	}

}
