.contacts {
  font-size: 0;

  &__map {
    height: 500px;
    width: 100%;
  }

  &__form {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding-right: 40px;

    @include media-breakpoint-down(small-tablet) {
      width: 100%;
      padding-right: 0;
    }
  }
  &__info {
    width: 40%;
    display: inline-block;
    vertical-align: top;

    font-size: $font-size;
    line-height: 1.5;
    color: $main_text_color;

    p {
      margin-bottom: 15px;
    }
    @include media-breakpoint-down(small-tablet) {
      width: 100%;
    }

  }
  &__title {
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid lighten($additional_text_color, 20%);
    text-transform: uppercase;
    font-family: $font-bold;
    color: $main_text_color;
    margin-bottom: 30px;
    line-height: 1;

  }
  &__wrap {
    width: 50%;
    display: inline-block;
    font-size: $font-size;
    vertical-align: top;

    &:first-child {
      padding-right: 15px;
    }
    &:last-child {
      padding-left: 15px;
    }
    input, textarea {
      width: 100%;
      padding: 0 5px 26px;
      margin-bottom: 30px;

      @include media-breakpoint-down(small-tablet) {
        padding: 0 5px 33px;

      }
    }
  }
}
