.custom-select {
    display: inline-block;
    select {
        border: none;
        outline: none;
        text-transform: uppercase;
        font-size: $font-size;
        color: $grey_absolute;
        background: transparent;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
    &:after {
        content: '\f0d7';
        font-family: 'FontAwesome';
        font-size: 10px;
    }
}
