.star-ratings-sprite {
  display: inline-block;
  position: relative;
  width: 85px;
  font-family: FontAwesome;
  font-size: 13px;
  letter-spacing: 6px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 20px;

  &:before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: $grey_regular;
  }

  &-rating {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;



    &:before {
      font-size: 13px;
      content: "\f005 \f005 \f005 \f005 \f005";
      color: $black_absolute;
    }

  }

}
