.double-slasher {
	margin: 0 10px;
	letter-spacing: -2.4px;
}

.dashboard-page {
	margin: 60px auto 50px;
	max-width: 1140px;
	@include clearfix;
}

.dashboard-page {
	* {
		box-sizing: border-box;
	}

	a {
		text-transform: none;
	}

	p {
		line-height: 24px;
	}
	
	.main {
		float: left;
		width: 77%;
		padding: 0 22px 0 30px;
		/*@include clearfix;*/
		@include media-breakpoint-down(small-tablet) {
			padding: 25px 15px 0 15px;
			width: 100%;
		}
	}
}

.dashboard-page__section {
	float: left;
	margin-top: 97px;
	width: 100%;
}

.dashboard-page__section:first-child {
	margin-top: 0;
}

.dashboard-page__section--small {
	width: 46%;
	color: $black_absolute;
	@include media-breakpoint-down(small-tablet) {
		width: 100%;
	}
}

.dashboard-page__section--small:nth-child(even) {
	margin-right: 8%;
	@include media-breakpoint-down(small-tablet) {
		margin-right: 0;
	}
}

.dashboard-page__header {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $white-grey;
	font-size: $font-size-l;
	font-weight: bold;
	text-align: left;
}

.dashboard-page__header-link {
	float: right;
	margin-top: 5px;
}

.dashboard-page__header-link:hover:after {
	margin-left: 10px;
}

/*.recent-orders {
	@include media-breakpoint-down(small-tablet) {
		display: none;
	}
}*/

.recent-orders .dashboard-page__header {
	@include media-breakpoint-down(tablet) {
		margin-bottom: 0;
	}
}

.recent-orders__table {
	width: 100%;
	text-align: left;
	@include media-breakpoint-down(tablet) {
		display: none;
	}
}

.recent-orders__table tr {
	border-bottom: 1px solid $white-grey;
}

.recent-orders__thead th {
	padding: 20px 0 24px;
	font-size: $font-size-xs;
}

.recent-orders__tbody td {
	padding: 30px 0;
	color: $black_absolute;
}

.contact-info__links {
	margin-top: 22px;
}

.newsletters__links {
	margin-top: 30px;
}

.default-billing__address {
	white-space: pre-line;
}

.default-billing__links {
	margin-top: 30px;
}

.default-shipping__address {
	white-space: pre-line;
}

.default-shipping__links {
	margin-top: 30px;
}

.recent-reviews__review {
	margin-bottom: 50px;
	color: $black_absolute;
	@include clearfix;
}

.recent-reviews__image-frame {
	float: left;
	width: 20%;
	height: 160px;
	text-align: center;
}

.recent-reviews__image {
	max-height: 100%;
}

.recent-reviews__text-box {
	float: left;
	padding-left: 30px;
	width: 80%;
}

.recent-reviews__product-header {
	display: inline-block;
}

.recent-reviews__product-link {
	color: $black_absolute;
	font-family: Exodus, sans-serif;
	font-size: 16px;
}

.recent-reviews__date {
	float: right;
	font-size: $font-size-xs;
	@include media-breakpoint-down(small-tablet) {
		float: none;
		margin-top: 11px;
	}
}

.recent-reviews__stars {
	margin-top: 11px;
}

.recent-reviews__header {
	margin-top: 30px;
	font-size: $font-size-xs;
	font-weight: bold;
}

.recent-reviews__text {
	margin-top: 10px;
}