.mini-cart {
	padding: 26px 15px 30px;
	width: 255px;
	border: 1px solid black;
}

.mini-cart__wrapper {
	position: relative;
}

.mini-cart__close {
	top: 0;
	right: 0;
	width: 12px;
	height: 12px;
}

.mini-cart__close:before {
	height: 17px;
}

.mini-cart__close:after {
	height: 17px;
}

.mini-cart__table {
	margin-top: 15px;
	border-top: 1px solid $black_absolute;
	border-bottom: 1px solid $black_absolute;
	@include clearfix;
}

.mini-cart__item {
	padding: 15px 0;
	border-bottom: 1px solid #bdbdbd;
	@include clearfix;
}

.mini-cart__item:last-child {
	border: none;
}

.mini-cart__image-frame {
	float: left;
	width: 80px;
	height: 85px;
}

.mini-cart__image {
	max-height: 100%;
}

.mini-cart__item-descr {
	float: left;
	padding: 20px 0 0 20px;
	width: 100px;
}

.mini-cart__product-name {
	margin-bottom: 5px;
}

.mini-cart__product-link {
	color: $black_absolute;
	font-size: $font-size-xs;
	font-weight: bold;
}

.mini-cart__product-quantity {
	position: relative;
	display: inline-block;
	margin-top: 5px;
	padding-right: 25px;
	color: $black_absolute;
}

.mini-cart__quantity-handlers {
	border: none;
}

.mini-cart__quantity-handler {
	display: block;
	padding: 0;
}

.mini-cart__input {
	width: 15px;
	border: none;
	line-height: normal;
	text-align: left;
}

.mini-cart__item-handlers {
	float: right;
	text-align: right;
}

.mini-cart__product-price {
	display: block;
	color: $black_absolute;
	font-weight: bold;
}

.mini-cart__little-button {
	float: right;
	width: 100%;
	height: 22px;
	border: none;
	background-color: transparent;
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: none;
}

.mini-cart__edit-button {
	margin-top: 10px;
	background-image: url('../../icons/i_little-pencil.png');
}

.mini-cart__delete-button {
	background-image: url('../../icons/i_garbage.png');
}

.mini-cart__total-price {
	margin-top: 13px;
	color: $black_absolute;
	font-size: 16px;
	font-weight: bold;
	@include clearfix;
}

.mini-cart__total-price--label {
	float: left;
}

.mini-cart__total-price--amount {
	float: right;
}

.mini-cart__link {
	display: inline-block;
	margin-top: 30px;
	font-size: 16px;
}